# Ignore everything by default
*

# Allow dependency files
!pyproject.toml
!poetry.lock

# Allow application source
!src/
!src/sic_classification_vector_store/
!src/sic_classification_vector_store/**

# Exclude cache files
**/__pycache__/